
<div class="container mt-5 mb-5 "  *ngIf="dataSource.data.length > 0">
  <button class="btn btn-danger mt-2" href="/converterMoedas" (click)="delHistorico()">Deletar histórico</button>
  <div class="mat-elevation-z8 mt-3" style="overflow-x:auto;" >
    <table mat-table [dataSource]="dataSource" matSort class="w-100" id="tab" >

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let row"> {{row.data}} </td>
      </ng-container>

      <!-- Hora Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
        <td mat-cell *matCellDef="let row"> {{row.hora}} </td>
      </ng-container>

      <!-- valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> valor </th>
        <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
      </ng-container>

      <!-- moedaOrigem Column -->
      <ng-container matColumnDef="moedaOrigem">
        <th mat-header-cell *matHeaderCellDef> Moeda Origem </th>
        <td mat-cell *matCellDef="let row"> {{row.moedaOrigem}} </td>
      </ng-container>

      <!-- moedaDestino Column -->
      <ng-container matColumnDef="moedaDestino">
        <th mat-header-cell *matHeaderCellDef> Moeda Destino </th>
        <td mat-cell *matCellDef="let row"> {{row.moedaDestino}} </td>
      </ng-container>

      <!-- result Column -->
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
        <td mat-cell *matCellDef="let row" [id]="'res' + dataSource.data.indexOf(row)" > {{row.result}}
        </td>
      </ng-container>

      <!-- rate Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Taxa </th>
        <td mat-cell *matCellDef="let row"> {{row.rate}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class=" h-50 d-flex flex-column align-items-center justify-content-center" *ngIf="dataSource.data.length == 0">
  <p class="fs-5">Histórico de conversões está vazio.</p>
  <a class="btn btn-primary mt-2" href="/converterMoedas">Converter Moedas</a>
</div>