<div class="mt-5 mb-5 container-fluid d-flex flex-column align-items-center col-lg-10 min-h-50">
  <h1>Converter Moeda</h1>
  <form class="d-flex flex-column align-items-center w-100">
    <div class="d-flex justify-content-around align-items-center flex-wrap w-100">
      <div class="mb-3 col-12 col-md-2">
        <label for="valor" class="form-label">Valor</label>
        <input type="number" min="0.01" class="form-control rounded-pill w-" id="valor" placeholder="0,01">
      </div>
      <div class="mb-3 col-12 col-md-4">
        <label for="moeda-origem" class="form-label">Moeda Origem</label>
        <select class="form-select rounded-pill" id="moeda-origem">
          <option *ngFor="let simbolo of simbolos" value="{{simbolo.code}}" [selected]="simbolo.code == 'BRL'">
            {{simbolo.description}} ({{simbolo.code}})</option>
        </select>
      </div>
      <div class="mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-left-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
        </svg>
      </div>
      <div class="mb-3 col-12 col-md-4">
        <label for="moeda-destino" class="form-label">Moeda Destino</label>
        <select class="form-select rounded-pill" id="moeda-destino">
          <option *ngFor="let simbolo of simbolos" value="{{simbolo.code}}" [selected]="simbolo.code == 'USD'">
            {{simbolo.description}} ({{simbolo.code}})</option>
        </select>
      </div>
    </div>

    <button class="btn btn-success mt-2" (click)="converterMoeda()">Converter</button>
  </form>

  <div class=" mt-5 p-3 w-75 d-flex flex-column align-items-center" *ngIf="resConversao != null">
    <p id="valor-origem">{{resConversao.valor}} {{resConversao.moedaOrigem}}</p>
    <h2 class="text-primary fs-2 fw-bold" id=" valor-destino">{{resConversao.result}} {{resConversao.moedaDestino}} </h2>
    <p>taxa de conversão: <span class="text-danger" id="rate">{{resConversao.rate}}</span></p>
  </div>
</div>